$neutral-grey: #f5f5f5;
$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #328a73;
$lavendar: #6d7993;
$denim: #1a2930;
$blueberry: #435661;
$apricot: #f7882f;
$plaster: #cdcdcd;
$fresh-water: #88bbd6;
$fontblack: #444;
$fontorange: #e07021;
